{{define "user-silenced"}}
<div class="alert info">
	<p><strong>Votre compte a été mis en mode "silencieux"</strong> Vous pouvez toujours accéder à vos messages et vos blogs, mais personne ne peut actuellement les voir.</p>
</div>
{{end}}
