{{define "head"}}<title>{{.ContentTitle}} &mdash; {{.SiteName}}</title>
<meta name="description" content="{{.PlainContent}}">
{{end}}
{{define "content"}}<div class="content-container snug">
	<h1>{{.ContentTitle}}</h1>
		<p style="font-style:italic">Dernière mise à jour : {{.Updated}}</p>

		{{.Content}}
	</div>
{{end}}
